body{
	background-image: url(/images/111.jpg);
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
*:link, *:visited, *:hover, *:active, *:focus {
-webkit-transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
}
input{
	
	font-size: 16px;
	background-color: #79a7f8;
	-moz-border-radius-bottomleft:5px 5px;
	-moz-border-radius-bottomright:5px 5px;
	-moz-border-radius-topleft:5px 5px;
	-moz-border-radius-topright:5px 5px;
	border-bottom-left-radius: 5px 5px;border-bottom-right-radius: 5px 5px;
	border: none;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
	padding: 2px;
}
.button { border-top: 1px solid #96d1f8; background: #65a9d7; background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7)); background: -moz-linear-gradient(top, #3e779d, #65a9d7); padding: 2px 4px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; -moz-box-shadow: rgba(0,0,0,1) 0 1px 0; box-shadow: rgba(0,0,0,1) 0 1px 0; text-shadow: rgba(0,0,0,.4) 0 1px 0; color: white; font-size: 16px; font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif; text-decoration: none; vertical-align: middle; } .button:hover { border-top-color: #7065bf; background: #7065bf; color: #ccc; } .button:active { border-top-color: #1b435e; background: #1b435e; }
input:focus,input:hover{background-color: #fefbb6;outline:none;}

a{
	text-decoration: none;
	color: #7361d1;
}
a:hover{
	color: #ff9131;
}

.round {
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px;
-moz-box-shadow:0 0 10px #040307;
-webkit-box-shadow:0 0 10px #040307;
margin:0 auto;}

.clear{
	clear: both;
}
.cate{
	
	background-color: #424242;
	padding: 5px;
	font-size: 20px;
	color: #fffeff;
	border-style: inset;
}
.idTabs li{
	display: inline-block;
	margin-right: 5px;
	position: relative;
}
.idTabs li a{
	font-size: 16px;
	color: #ff7c7b;
	font-weight: bold;
	
}
.idTabs li a:hover{
	color: rgba(5,61,244,0.77);
	
}
.link{
	border:0px;
	margin: 5px;
}
.date{
	float: right;
	color: #ff7c7b;
	font-weight: bold;
}

#page{
	width: 1000px;
	margin: 0 auto;
}
#left{
	float: lefts;
	width: 180px;
}
#logo{	
	width: 100px;
	float: left;
	margin-left: -10px;
}
#navigation{
	float:left;
	width:144px;	
}
.nav:hover{
		background: url(/images/bf.png) no-repeat 90px;
}
#friends{
	float: left;
	width: 140px;
	text-align: center;
	font-size: 18px;
}
 .add{
	background-color: #dffef8;
}
.add:hover{
	background-color: #9ae1fb;
}
#main{
	width: 800px;
	float: right;
	position: absolute;
	margin-left: 180px;
}
#user_bar{
	background-color: rgba(211,228,251,0.97);
	
}
/*login*/
#login{
	width: 300px;
	height: 180px;
	background-color: rgba(110,214,251,0.85);
	margin-top: 6px;
	padding: 20px;
}
#flash{
	width: 300px;
	height: 50px;
	
	padding: 5px;
	margin:0 auto;
}
#flash_notice{
	background-color: rgba(255,145,49,0.71);
	padding: 4px;
}
#flash_error{
	background-color: rgba(255,124,123,0.91);
	padding: 4px;
}
#error_explanation{
	background-color: #ff7c7b;
}
/*home page*/
#header{
	height: 80px;
	width: 800px;
	
}
#content{	
	width: 780px;
	border: 5px ridge rgba(110,214,251,0.97);
	background-color: #ace4fc;
}
#footer{
	height: 90px;
	width: 750px;
	background-color: rgba(209,250,139,0.83);
	border: 5px outset #6ed6fb;
}
.left{
	float: left;
	width: 64px;
	height: 64px;
	margin-left: 10px;
	margin-top: 25px;
}
.right{
	float:right;
	width:128px;
	height:128px;
	margin-top:-20px;
	
}
#broadcast{
	float: left;
	width: 450px;
	height: 22px;
	background-color: #a397f7;
	margin-left: 80px;
	padding-left: 10px;
	padding-top: 6px;
	
	margin-top: 4px;
}
#contact{
	margin-left: 170px;
	float: left;
	width: 235px;
	height: 28px;
	border: 4px inset rgba(110,214,251,0.82);
	padding: 8px;
}
#micro-mss{
	
	float: left;
	width: 560px;
	height: 50px;
	margin: 10px;	
	padding-top: 6px;
	
	 color: #fffeff; font: bold 32px "Stone Sans ITC TT", Helvetica, Arial, Sans-Serif;
 text-shadow: 1px 1px #02a2fe, 2px 2px #02a2fe, 3px 3px #02a2fe;
-webkit-transition: all 0.12s ease-out;
-moz-transition: all 0.12s ease-out;
-o-transition: all 0.12s ease-out;
	background-color: rgba(130,246,103,0.72);
	padding-left: 5px;
}
#micro-mss:hover{
text-shadow: 1px 1px #02a2fe, 2px 2px #02a2fe, 3px 3px #02a2fe, 4px 4px #02a2fe, 5px 5px #02a2fe, 6px 6px #02a2fe;  
}
/*blog page */
#blog{
	width: 820px;	
	
}

/*me page*/
#coin-slider{
	width: 800px;
	height: 450px;
	margin-left: 80px;
	border: 4px ridge #da85f7;
}
#manage{
	background-color: #daebf7;
	width: 800px;
	height: 500px;
	padding: 10px;
}
#new_img{
	width: 600px;
	padding: 20px;
	background-color: #a5dbfb;
}
#more_info{
	float: left;
	background-color: #aae6fc;
	width: 350px;
	font-size: 18px;
	padding: 6px;
	color: #00558e;
}
#leftarea{
	float: left;
	width: 350px;
}
#touch{
	float: right;
	height: 50px;	
	text-align: center;
	margin-top: 10px;
}
#new_a,#edit_a{
	width: 800px;
	background-color: #d1fa8b;
	padding: 5px;
	
}
/* show artical */
#show{
	width: 800px;
	background-color: #6ed6fb;
	margin-top: -10px;
	margin-bottom: 100px;
}
.show-a{
	width: 760px;
	background-color: #ffcb9b;
	padding: 10px;
	margin: 10px;
	}
.contactme{
	
	border: 4px outset #7983f6;
	padding: 6px;
}
#loopedSlider{
	width: 780px;
	padding: 12px 12px 20px;
	color: #424242;
		}
.container { width:750px; height:375px; overflow:hidden; position:relative; cursor:pointer;
} 
.slides { position:absolute; top:0; left:0; }
.slides li { position:absolute; top:0; width:750px; display:none;
	padding-bottom: 10px;
}

 ul.pagination { list-style:none; padding:0; margin:0; }
 ul.pagination li { float:left; }
 ul.pagination li a { padding:2px 4px; }
 ul.pagination li.active a { background: #ff9131; color:white; } 
 
 #edit_p,#new_u{
	width: 400px;
	height: 300px;
	background-color: #6ed6fb;
	padding: 30px;
}
#user-bar{
	width:160px;height:70px;
	margin:10px auto;
	float: right;
}
#bottom_fade{
	width: 100%;
	height: 140px;
	z-index: 99;
	position: fixed;
	bottom: 0%;
	background: url(/images/bottom-fade.png);
	left: 0;
}
.bbc{
	color: #fffeff;
	}
/*title*/
.comment{
	background-color: #ffd285;
	
}
/*cycle*/
.light{
	background-color: rgba(255,210,133,0.64);
}
.dark{
	background-color: rgba(224,249,118,0.75);
}
.article li{
	padding: 8px 10px;
	margin-top: 6px;
	
}
div.nav a:hover img{
	opacity:0.8;
filter: alpha(opacity=80);
-ms-filter: "alpha( opacity=80 )";
background: #fff;

}
#ads{
	float: left;
	width: 250px;
	height: 250px;
	
}
#post-ads{
	width: 760px;
	height: 90px;
}
#share{
	float: left;
	}
#comment{
		
}
