<div id="loopedSlider">
	<div class="container">		
	<% if @articles %>
	<ul class="slides">		
		<% for artical in @articles %>		
		<li>
  			<h2><%= artical.title %></h2>
				<div class="cate">
					<%= Category.find(artical.category_id).title%>
					<div class="date">
						<%= time_update(artical)%>
						</div>
				</div>
  			<p><%=raw artical.content %></p>
		</li>
		<% end %>
		</ul>
	<% else %>
	<p>Miss top artical</p>
	<% end %>
	</div>
</div>