<div id="coin-slider">
	<% for image in @images %>
	<%= image_tag(image.url)%>
	<% end %>	
</div>
<div id="leftarea">
<div id="more_info" class="round">
	<% if current_user %>
	<a class="info"><%=raw current_user.aboutme %></a>
	<% else %>
	<%=raw @user.aboutme %>
	<% end %>
</div>
<div id="ads">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-9765425002757717";
	/* Ads */
	google_ad_slot = "1191914871";
	google_ad_width = 250;
	google_ad_height = 250;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
	
</div>
<div id="touch">
	<object width="430" height="450" id="obj_1296982840788"><param name="movie" value="http://heartmechat.chatango.com/group"/><param name="wmode" value="transparent"/><param name="AllowScriptAccess" VALUE="always"/><param name="AllowNetworking" VALUE="all"/><param name="AllowFullScreen" VALUE="true"/><param name="flashvars" value="cid=1296982840788&a=3366FF&b=60&c=FFFFFF&d=66CCFF&l=999999&m=99CC00&p=12&q=FFCCFF&r=100&s=1"/><embed id="emb_1296982840788" src="http://heartmechat.chatango.com/group" width="430" height="450" wmode="transparent" allowScriptAccess="always" allowNetworking="all" type="application/x-shockwave-flash" allowFullScreen="true" flashvars="cid=1296982840788&a=3366FF&b=60&c=FFFFFF&d=66CCFF&l=999999&m=99CC00&p=12&q=FFCCFF&r=100&s=1"></embed></object><br>
</div>

